# Fichiers temporaires
*.tmp
*.log

# Dossiers contenant des images ou des données volumineuses
dataset/
outputs/
Celibrity_faces/

# Modèles pré-entraînés ou checkpoints
*.ckpt
*.h5
*.pth

# Cache et autres fichiers inutiles
__pycache__/
*.pyc
.DS_Store
.ipynb_checkpoints/

# Fichiers de virtualenv
venv/
*.env
